SERVER_URL=223.130.152.252
SERVER_API_URL=http:/$()/223.130.152.252:8080/v1
KAKAO_KEY=6236db2fde6c50b816a038221b6a93ae
KAKAO_NATIVE_KEY=kakao6236db2fde6c50b816a038221b6a93ae
NAVER_APP_NAME=market-oauth
NAVER_URL_SCHEME=naverclientapp
NAVER_CONSUMER_KEY=eILPLTdPcTQMCIxVrxeR
NAVER_CONSUMER_SECRET_KEY=9vlhxm2dlN
